<div ng-controller="riskMngDetailCtrl">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>How does the company manage risk management</legend>
            <div class="row">
                <label class="col-md-4 control-label" >Has the company taken reasonable measures to protect its confidential information</label>
                <div class="col-md-4" ng-init="userDetail.hasConfInfo = 0">
                    <label class="radio-inline" for="forHasConfInfo-Y">
                        <input type="radio"  ng-model="userDetail.hasConfInfo" ng-value="1" name="hasConfInfo" id="forHasConfInfo-Y" value="first" >
                        Yes
                    </label>
                    <label class="radio-inline" for="forHasConfInfo-N">
                        <input type="radio"  ng-model="userDetail.hasConfInfo" ng-value="0" name="hasConfInfo" id="forHasConfInfo-N" value="no">
                        No
                    </label>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 control-label" >Does the company have specific IP policies?</label>
                <div class="col-md-4" ng-init="userDetail.hasIpPolicy = 0">
                    <label class="radio-inline" for="forHasIpPolicy-Y">
                        <input type="radio"  ng-model="userDetail.hasIpPolicy" ng-value="1" name="hasIpPolicy" id="forHasIpPolicy-Y" value="first" >
                        Yes
                    </label>
                    <label class="radio-inline" for="forHasIpPolicy-N">
                        <input type="radio"  ng-model="userDetail.hasIpPolicy" ng-value="0" name="hasIpPolicy" id="forHasIpPolicy-N" value="no" checked="checked">
                        No
                    </label> <br><label style="font-size: 14px;color: #cc7a00">If yes, select all IP insurance coverage that apply:</label>

                    <select id="revenue1" ng-show="userDetail.hasIpPolicy == '1'"  ng-model="userDetail.hasIpPolicyList"  class="form-control input-sm"  multiple="multiple" va>
                        <option value="">Select Multiple</option>
                        <option value="Publication">Publication</option>
                        <option value="Ownership of IP">Ownership of IP</option>
                        <option value="Cooperation with company in protecting IP">Cooperation with company in protecting IP</option>
                        <option value="Trade show policies">Trade show policies</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <label class="col-md-4 control-label">Agreement management and compliance protocols?</label>
                <div class="col-md-4" ng-init="userDetail.agreementMngProt = 0">
                    <label class="radio-inline" for="forAgreementMngProt-Y">
                        <input type="radio"  ng-model="userDetail.agreementMngProt" ng-value="1" name="agreementMngProt" id="forAgreementMngProt-Y" value="yes" >
                        Yes
                    </label>
                    <label class="radio-inline" for="forAgreementMngProt-N">
                        <input type="radio"  ng-model="userDetail.agreementMngProt" ng-value="0" name="agreementMngProt" id="forAgreementMngProt-N" value="no" checked="checked">
                        No
                    </label> <br><label style="font-size: 14px;color: #cc7a00">If yes, select all that apply:</label>

                    <!--<label>If yes, select all that apply:</label>-->


                    <select id="revenue1" ng-show="userDetail.agreementMngProt == '1'" ng-model="userDetail.agreementMngProtList"  class="form-control input-sm"  multiple="multiple" va>
                        <option value="">Select Multiple</option>
                        <option value="CDAs/NDAs">CDAs/NDAs</option>
                        <option value="JVs">JVs</option>
                        <option value="Strategic alliance agreements">Strategic alliance agreements</option>
                        <option value="Open source software agreements">Open source software agreements</option>
                        <option value="Employee Agreements">Employee Agreements</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <label class="col-md-4 control-label" >Does the company have ERM Software solutions</label>
                <div class="col-md-4" ng-init="userDetail.hasErm = 0">
                    <label class="radio-inline" for="forHasErm-Y">
                        <input type="radio"   ng-model="userDetail.hasErm" ng-value="1" name="hasErm" id="forHasErm-Y" value="first" >
                        Yes
                    </label>
                    <label class="radio-inline" for="forHasErm-N">
                        <input type="radio"  ng-model="userDetail.hasErm" ng-value="0" name="hasErm" id="forHasErm-N" value="no" checked="checked">
                        No
                    </label> <br><label style="font-size: 14px;color: #cc7a00">If yes, select all that apply:</label>

                    <select id="revenue1" ng-show="userDetail.hasErm == '1'" ng-model="userDetail.hasErmList"   class="form-control input-sm"  multiple="multiple" va>
                        <option value="">Select Multiple</option>
                        <option value="Agreement management">Agreement management</option>
                        <option value="IPR Docketing system">IPR Docketing system</option>
                        <option value="Patents">Patents</option>
                        <option value="Trademarks">Trademarks</option>
                    </select>
                </div>

            </div>

            <div class="row">
                <label class="col-md-4 control-label" for="country">How does the company avoid third party liability?</label>
                <div class="col-md-4">

                    <select id="revenue1"  ng-model="userDetail.thirdPartyLia" class="form-control input-sm"  multiple="multiple" >
                        <option value="">Select Multiple</option>
                        <option value="Policy">Policy</option>
                        <option value="Freedom to operate practices">Freedom to operate practices</option>
                        <option value="Agreement audit practices">Agreement audit practices</option>
                        <option value="IP awareness Training">IP awareness Training</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <label class="col-md-4 control-label" >Is the company self-insured for IP losses?</label>
                <div class="col-md-4" ng-init="userDetail.selfInsIpLose = 0">
                    <label class="radio-inline" for="forSelfInsIpLose-Y">
                        <input type="radio"   ng-model="userDetail.selfInsIpLose" ng-value="1" name="selfInsIpLose" id="forSelfInsIpLose-Y" value="first" >
                        Yes
                    </label>
                    <label class="radio-inline" for="forSelfInsIpLose-N">
                        <input type="radio"  ng-model="userDetail.selfInsIpLose" ng-value="0" name="selfInsIpLose" id="forSelfInsIpLose-N" value="no">
                        No
                    </label>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 control-label" >Does the company purchase 3rd Party IP insurance?</label>
                <div class="col-md-4" ng-init="userDetail.purchedThirdPartyIns = 0">
                    <label class="radio-inline" for="forPurchedThirdPartyIns-Y">
                        <input type="radio"  ng-model="userDetail.purchedThirdPartyIns" ng-value="1" name="purchedThirdPartyIns" id="forPurchedThirdPartyIns-Y" value="first" >
                        Yes
                    </label>
                    <label class="radio-inline" for="forPurchedThirdPartyIns-N">
                        <input type="radio"  ng-model="userDetail.purchedThirdPartyIns" ng-value="0" name="purchedThirdPartyIns" id="forPurchedThirdPartyIns-N" value="no" checked="checked">
                        No
                    </label> <br><label style="font-size: 14px;color: #cc7a00">If yes, select all IP insurance coverage that apply:</label>

                    <select id="revenue1" ng-show="userDetail.purchedThirdPartyIns == '1'" ng-model="userDetail.thirdPartyIns" class="form-control input-sm"  multiple="multiple">
                        <option value="">Select Multiple</option>
                        <option value="Abatement coverage">Abatement coverage</option>
                        <option value="Enforcement coverage">Enforcement coverage</option>
                        <option value="Defensive coverage">Defensive coverage</option>
                    </select>
                </div>

            </div>


            <div class="row">
                <label class="col-md-4 control-label" for="country">Does the company have oversight of its IP Governance?</label>
                <div class="col-md-4">

                    <select id="revenue1"  ng-model="userDetail.hasOverIpGov"  class="form-control input-sm"  multiple="multiple" >
                        <option value="">Select Multiple</option>
                        <option value="Board oversight and reporting">Board oversight and reporting</option>
                        <option value="Legal/compliance oversight and management">Legal/compliance oversight and management</option>
                        <option value="Business unit oversight and strategy alignment">Business unit oversight and strategy alignment</option>
                    </select>
                </div>

            </div>
            <!--<div class="form-group" style="margin-left: 75%;">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submitrisk" name="submitrisk" class="btn btn-primary">Submit</button>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-offset-3 col-xs-8 " style="margin-left:75%;">
                    <a style="background-color: #8c6316;" href="#trd" class="btn btn-primary nexttab" data-toggle="tab" id="btn-next" onclick="$('.nav-tabs > .active').next('li').find('a').trigger('click');">Edit Previous Changes</a>
                    <!-- <a style="background-color:green;" href="#fin" class="btn btn-primary nexttab" data-toggle="tab" id="btn-next" onclick="$('.nav-tabs > .active').next('li').find('a').trigger('click');">Save and Continue</a> -->
                    <a style="background-color:green;" href="#fin" class="btn btn-primary nexttab" data-toggle="tab" id="btn-next" ng-click="riskMngDetSubmit(userDetail)" >Save and Continue</a>
                </div>
            </div>
            <!-- <div class="row">
                 <div class="col-xs-offset-3 col-xs-8 ">
                     <a style="margin: 15px" href="#trd" class="btn btn-primary nexttab" data-toggle="tab" id="btn-next">Save and Continue</a>
                 </div>
             </div>-->
        </fieldset>
    </form>
</div>