/* Application Styles */
/*
html { 
  background: url(../img/image1.PNG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
body {
 
/*  background: url(../img/image1.PNG) no-repeat center center fixed ;*/
/*  margin-top: 30px;*/
/*  background-size: 67% 87%;*/
/*  background-position: bottom left;*/
/*  background-color: lightblue;*/
  
/*  font-family: 'Titillium Web', sans-serif;*/
/*
    -webkit-background-size: cover;
  -moz-background-size: cover;
*/

  
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.div.fill-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.make-it-fit {
    background: url(../img/image1.PNG) no-repeat center center fixed ;
    background-size: 50%;
  background-position: bottom left;
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
/*
    max-width: 100%;
    max-height: 100%;
*/
    opacity: 0.8;
}
.navbar-default {
    background-color: #4a4745;
    border-color: #E7E7E7;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-nav>li>a {
    color: #ccc;
}
@import "compass/css3";



*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}



a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}

.form {
/*  background:rgba($form-bg,.9);*/
 background-color: rgba(19, 35, 47, 0.9);
  padding: 8px;
  max-width:400px;
  
/*  margin:7% auto;*/
      margin-left: 60%;
    margin-top: 12%;
  border-radius:5px;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
  color: #dff0d8;
  
}

.tab-group {
  list-style:none;
  padding-left:60%;
/*  margin:0 0 40px 0;*/
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
/*    padding:10px;*/
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:right;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:14px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
/*  height:100%;*/
  padding:8px 10px;
  background:none;
  background-image:none;
  border:0.5px solid $gray-light;
  color:$white;
  border-radius:0;
  line-height: 0.5;
   border:1px $gray-light;
  resize: vertical;
  border-radius:5px;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}



.field-wrap {
  position:relative;
  margin-bottom:20px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:8px 0;
/*  font-size:2rem;*/
  color: rgba(19, 39, 47, 0.9);
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color: #d9edf7;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
  border-radius: 5px;background-color: green;
  
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
a {
    color: orange;
    text-decoration: none;
}
