.col-md-6 {
  top:40px;
    width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: #e2dcdc;
}
.navbar-default {
    background-color: #4a4745;
    border-color: #e7e7e7;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -85px;
}
.logo {
  max-height:49px;
  background-color:#e0dcdc; 
  margin-top: -15px;
  position:fixed;
  left:0;
/*  margin-bottom:-14px;*/
}
a {
    color: #4a4745;
    text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #f7f0f0;
    cursor: default;
    background-color: #1f7bf1;
    border: 1px solid #3e3eb7;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(23, 26, 140, 0);
    border-radius: 4px 4px 0 0;
    border: 1px solid blue;
    border-bottom-color: transparent;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    /* border-bottom: 1px solid #e5e5e5; */
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
.progress-wrapper{
    position: relative;
    /*margin:20px auto;*/
    font-size: 40px;
}

.progress{
    position: absolute;
    color: #d03939;
    font-weight: 100;
    line-height: 1;
}
.nav-tabs {
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 0px;
    border-left:1px solid #727277;
    border-right:1px solid #727277;
    -webkit-border-top-left-radius: 4px;

}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(23, 26, 140, 0);
    border-radius: 4px 4px 0 0;
    border: 1px solid #727277;
    /* border-bottom-color: transparent; */
}
legend {

    border-bottom: 1px solid #e5e5e5;
}
.rightTxt{
    border:1px solid #727277;
    text-align: right;
}
.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}
